@{
    ViewBag.Title = "Index";
}
<h2>Acme Drone Delivery Service Application</h2>
@HttpContext.Current.User.Identity.Name
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        @Html.ActionLink("Log In", "LogIn", "Home")
        @Html.ActionLink("Register", "Register", "User")
    </div>
}
