@{
    ViewBag.Title = "Index";
}
<h2>Acme Drone Delivery Service Application</h2>
@HttpContext.Current.User.Identity.Name
@using (Html.BeginForm("LogIn", "Home", FormMethod.Get))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <div class="col">
            <input type="submit" value="LogIn" name="LogIn" class="btn btn-default" />
        </div>
    </div>
}
@using (Html.BeginForm("Register", "User", FormMethod.Get))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <div class="col">
            <input type="submit" value="Register" name="Register" class="btn btn-default" />
        </div>
    </div>
}
